# =========================
# App / Runtime
# =========================
APP_NAME=my-saas-api
APP_VERSION=1.0.0
NODE_ENV=development
PORT=3001
TZ=UTC

# (Optional) Base URL of your API (useful for links, callbacks)
API_BASE_URL=http://localhost:3001

# =========================
# Security
# =========================
# Used for signing JWTs / tokens (rotate periodically)
JWT_ACCESS_SECRET=8f3c9c9ju7rt4c7a9c7b6a5e1b0f4tgd2a8e6f7b8g3c1e4f6a7b8c9d0e1f2a
JWT_REFRESH_SECRET=3a7d9eaiwufhid0a2e5f9c1b7d6a4e734awifhq27e5f6c8a9b0d1e2f3
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d

# =========================
# CORS
# =========================
# Comma-separated allowlist
# Example: http://localhost:3000,https://app.yourdomain.com
CORS_ORIGINS=http://localhost:3000,http://localhost:5173,https://fusiontools.in,https://www.fusiontools.in
CORS_CREDENTIALS=true

# =========================
# Request Limits
# =========================
JSON_BODY_LIMIT=5mb
URLENCODED_BODY_LIMIT=5mb

# If you prefer a single connection string, use this instead of the above:
DATABASE_URL=postgresql://neondb_owner:npg_X9YieZHU7FRD@ep-polished-leaf-aehtpd5i-pooler.c-2.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# ==================================
# Google PageSpeed Insights API
# ==================================
GOOGLE_PAGESPEED_API_KEY=AIzaSyD9KG0pRFECZjeHStCysvbc61bal_pZI9c


# ==================================
# ImageKit API
# ==================================
IMAGEKIT_PRIVATE_KEY="private_mpGg8PhtwGdISB6ADNf5BqjCBLs="
IMAGEKIT_PUBLIC_KEY="public_ZJVVO/mu74UGNUM6VCfgK/3jPMc="
IMAGEKIT_URL_ENDPOINT="https://ik.imagekit.io/7w8ikjsre"